/* regole generali pagina */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* regole header */
header {
    padding-bottom: 30px;
}

.header-container {
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
}

.nav-link {
    width: 45%;
}

.login {
    width: 10%;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.title {
    width: 50%;
}

.sub-title {
    width: 50%;
}

.button-section {
    width: 50%;
}


/* regole DEBUG */
header {
    background-color: rgb(53, 53, 177);
}

nav {
    background-color: blueviolet;
    height: 50px;
}

.header-container {
    background-color: blue;
}

.logo {
    background-color: brown;
}

.nav-link {
    background-color: brown;
}

.login {
    background-color: brown;
}

.jumbotron {
    background-color: aqua;
}

.title {
    background-color: brown;
    flex-basis: 35px;
    border: 2px solid blue;
}

.sub-title {
    background-color: brown;
    flex-basis: 50px;
    border: 2px solid blue;
}

.button-section {
    background-color: brown;
    flex-basis: 35px;
    border: 2px solid blue;
}